
<!-- EJS to loop over teamData object and add team to array for specific accordion piece -->
<% const nba = [] %>
<% const nfl = [] %>
<% let idx = 1 %>
<% for (team of teamData) { %>
  <% if (team.league === "NBA") { %>
    <% nba.push(team) %>
  <% }
  else if (team.league === "NFL") { %>
    <% nfl.push(team) %>
  <% }
   else {

   } %>
<% } %>

<%- include("./partials/nav") %>
<div class="row mt-5 text-center">
  <div class="col-xs-12 m-auto">
    <h3>Add Teams</h3>
    <p class="text-muted">Select teams to add to your dashboard</p>
  </div>
</div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header bg-secondary" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          NBA
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-center">
          <% for (team of nba) { %>
          <div class="card card-body bg-secondary selectable w-xs-20" id="nba-select" style="max-width: 6rem">
            <img id="<%='img' + idx++%>" src="<%=team.logo%>" class="card-img-top" alt="<%=team._id%>">
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-secondary" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block collapsed text-left" id="nfl-select"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          NFL
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-center">
          <% for (team of nfl) { %>
          <div class="card card-body bg-secondary selectable w-xs-20" id="nfl-select" style="max-width: 6rem">
            <img id="<%='img' + idx++%>" src="<%=team.logo%>" class="card-img-top" alt="<%=team._id%>">
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-secondary" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          MLB
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<div id="dialog"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/addTeam.js"></script>
